@import url('https://meyerweb.com/eric/tools/css/reset/reset.css');
@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Round');

$font: 'Inter', sans-serif;
$yellow-100: #f8b216;
$blackDark-100: #000000;
$blackDark-75: rgba($blackDark-100, .75);
$blackDark-50: rgba($blackDark-100, .50);
$blackDark-25: rgba($blackDark-100, .25);
$blackDark-10: rgba($blackDark-100, .10);
$blackDark-00: rgba($blackDark-100, .00);
$blackLight-100: #0d0d0d;
$green-100: #5ac29a;
$green-200: #3da47d;
$red-100: #f15535;
$red-200: #e33410;
$white-100: #f3f3f4;
$white-75: rgba($white-100, .75);
$white-50: rgba($white-100, .50);
$white-25: rgba($white-100, .25);
$white-10: rgba($white-100, .10);
$white-pure: #ffffff;
$grey-100: #3d3d3d;
$grey-200: #1f1f1f;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// elements

html, body {
	background: $blackDark-100;
	color: $white-100;
	font-family: $font;
	font-size: 16px;
	line-height: 24px;
	overscroll-behavior: none;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

a {
	color: inherit;
	display: inline-block;
	text-decoration: none;
}

i {
	vertical-align: middle;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

// utilities

.color-yellow-100 { color: $yellow-100; }
.color-blackDark-100 { color: $blackDark-100; }
.color-blackDark-75 { color: $blackDark-75; }
.color-blackDark-50 { color: $blackDark-50; }
.color-blackDark-25 { color: $blackDark-25; }
.color-blackDark-10 { color: $blackDark-10; }
.color-white-100 { color: $white-100; }
.color-white-75 { color: $white-75; }
.color-white-50 { color: $white-50; }
.color-white-25 { color: $white-25; }
.color-white-10 { color: $white-10; }

// text styles

.font-12 {
	font-size: 12px;
	line-height: 16px;
}

.font-14 {
	font-size: 14px;
	line-height: 20px;
}

.font-20 {
	font-size: 20px;
	line-height: 28px;
}

.font-24 {
	font-size: 24px;
	line-height: 32px;
}

.font-32 {
	font-size: 32px;
	line-height: 40px;
}

.bold {
	font-weight: bold;
}

.lowercase {
	text-transform: lowercase;
}

.uppercase {
	text-transform: uppercase;
}

.capitalize {
	text-transform: capitalize;
}

// components

.btn {
	@extend .font-14;
	@extend .bold;
	@extend .uppercase;

	display: inline-block;

	span {
		display: inline-block;
		vertical-align: middle;
	}

	&.btn-regular {
		background: $white-100;
		border: 1px solid $blackDark-10;
		@include border-radius(24px);
		color: $blackDark-100;
		padding: 14px 24px;
	}
}

// layout

#app {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-overflow-scrolling: touch;
}

#home {
	display: flex;
	flex-direction: column;

	padding: 20px 0 88px;

	.home-nav {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;

		margin-bottom: 32px;
		padding: 0 16px;

		.btn {
			@extend .capitalize;
			@extend .color-white-100;

			background: $grey-200;
			border: 1px solid $white-10;
			
			&.btn-icon-text {
				padding: 7px 11px 7px 7px;

				i {
					margin-right: 4px;
				}
			}

			&.btn-icon {
				padding: 7px;
			}
		}
	}

	.home-intro {
		display: flex;
		flex-direction: row;
		margin: 0 0 16px;
		padding: 16px;

		img {
			height: 48px;
			margin: 0 16px 0 0;
			width: auto;
		}
	}

	.home-summaries {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		margin: 0 0 16px;
		padding: 0 16px;
		max-width: 100%;
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;

		.home-summary {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			padding: 0 16px 0 0;

			img {
				@include border-radius(32px);

				background: $blackLight-100;
				border: 2px solid $white-100;
				display: block;
				height: 64px;
				margin: 0 0 8px;
				width: 64px;
			}

			.summary-text {
				@extend .bold;
				@extend .color-white-75;
				@extend .font-12;
				@extend .uppercase;

				display: block;
				text-align: center;
				width: 64px;
			}

			&.inactive {
				opacity: 0.5;
			}
		}
	}

	.home-feed {
		display: flex;
		flex-direction: column;

		.feed-tabs {
			display: flex;
			flex-direction: row;

			margin-bottom: 16px;
			padding: 8px 16px;

			.feed-tab {
				@extend .bold;
				@extend .color-white-100;
				@extend .font-24;

				margin-right: 16px;

				&.inactive {
					@extend .color-white-50;
				}
			}
		}

		.feed-cards {
			.feed-nearby, .feed-everywhere {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;

				.feed-card-full {
					@extend .color-white-100;
					@include border-radius(8px);

					background: $blackLight-100;
					border: 1px solid $white-10;
					margin-bottom: 24px;
					width: 100%;

					.feed-card-aspect-ratio {
						@include border-radius(8px);
						background-size: cover;
						display: block;
						padding-top: calc(4.33 / 3 * 100%);
						position: relative;

						.feed-card-content {
							background: $blackDark-50;
							@include border-radius(8px);
							bottom: 0;
							left: 0;
							position: absolute;
							right: 0;
							top: 0;

							.feed-card-progress {
								display: flex;
								flex-direction: row;
								justify-content: space-between;
								padding: 8px;

								.progress-bar {
									@include border-radius(2px);

									background: $white-50;
									flex-grow: 1;
									height: 4px;
									margin: 0 4px 0 0;

									&:last-child {
										margin: 0;
									}

									&[data-progress]:after {
										@include border-radius(2px);
										background: $white-100;
										content: "";
										display: block;
										height: 100%;
										width: 50%;
									}
								}
							}

							.feed-card-upper {
								align-items: center;
								display: flex;
								flex-direction: row;
								justify-content: flex-start;
								padding: 4px 24px;

								.feed-card-rating {
									height: auto;
									margin: 0 16px 0 0;
									width: 64px;
								}

								.feed-card-place-details {
									text-shadow: 0 1px $blackDark-50;
									width: calc(100% - 64px - 16px);

									.feed-card-title {
										@extend .font-20;
										@extend .bold;

										display: block;
										line-height: 24px;
										margin-bottom: 4px;
										overflow: hidden;
										text-overflow: ellipsis;
										white-space: nowrap;
									}

									.feed-card-meta {
										display: block;
										@extend .font-14;
									}
								}
							}

							.feed-card-lower {
								bottom: 0;
								display: flex;
								flex-direction: column;
								position: absolute;
								width: 100%;

								.going-timestamp {
									display: flex;
									flex-direction: row;
									justify-content: space-between;
									padding: 12px;

									.going {
										@extend .bold;
										@extend .color-blackDark-100;
										@extend .font-14;
										@include border-radius(16px);

										background: $yellow-100;
										display: inline-block;
										padding: 6px 12px;
									}

									.timestamp {
										@extend .font-14;

										display: inline-block;
										padding: 6px 0;
										text-shadow: 0 1px $blackDark-50;
									}
								}

								.comments-qna {
									@extend .color-blackDark-75;
									@include border-radius(8px 8px 0 0);

									backdrop-filter: blur(4px);
									-webkit-backdrop-filter: blur(4px);
									background: $white-75;
									display: flex;
									flex-direction: column;
									height: 72px;
									overflow-y: hidden;
									margin: 0 8px;

									.card-tabs {
										backdrop-filter: blur(4px);
										-webkit-backdrop-filter: blur(4px);
										background: $white-50;
										display: flex;
										flex: none;
										flex-direction: row;

										.card-tab {
											@extend .bold;
											@extend .color-blackDark-50;
											@extend .font-12;
											@extend .uppercase;

											padding: 12px 16px 10px;

											&:first-child {
												margin-left: 16px;
											}

											&.active {
												@extend .color-blackDark-75;
												border-bottom: 2px solid $blackDark-75;
											}
										}
									}

									.comments-qna-list {
										display: flex;
										flex-direction: column;
										padding: 16px;

										.comment-qna {
											display: flex;
											flex-direction: row;

											img {
												@include border-radius(50%);
												background: $blackDark-50;
												border: 1px solid $white-50;
												height: 32px;
												margin: 0 8px 0 0;
												width: 32px;
											}

											.comment-details {
												display: flex;
												flex-direction: column;
												height: auto;
												width: calc(100% - 32px - 8px);

												.comment-text {
													display: block;
													line-height: 20px;
													margin: 0 0 2px;
												}

												.comment-meta {
													@extend .color-blackDark-50;
													@extend .font-12;
													display: flex;
													flex-direction: row;

													li:after {
														content: "•";
														padding: 0 4px;
													}

													li:last-child:after {
														content: "";
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}

				.feed-card-half {
					@extend .color-white-100;
					@include border-radius(8px);

					background: $blackLight-100;
					border: 1px solid $white-10;
					margin-bottom: 8px;
					width: calc((100% - 40px) / 2);

					&:nth-child(odd) {
						margin-left: 16px;
						margin-right: 8px;
					}

					.feed-card-aspect-ratio {
						@include border-radius(8px);
						background-size: cover;
						display: block;
						padding-top: calc(16 / 9 * 100%);
						position: relative;

						.feed-card-content {
							background: $blackDark-50;
							@include border-radius(8px);
							bottom: 0;
							left: 0;
							position: absolute;
							right: 0;
							top: 0;

							img {
								height: auto;
								margin: 12px;
								width: 64px;
							}

							.feed-card-text {
								bottom: 12px;
								left: 12px;
								position: absolute;
								right: 12px;
								text-align: left;

								.feed-card-title {
									@extend .font-20;
									@extend .bold;

									display: block;
									line-height: 24px;
									margin-bottom: 4px;
								}

								.feed-card-meta {
									display: block;
									@extend .font-14;
								}
							}
						}
					}

					&.feed-card-onboarding {
						@extend .color-blackDark-100;

						background: $yellow-100;
						border: 1px solid $blackDark-10;

						.feed-card-aspect-ratio .feed-card-content {
							background: none;

						 	.feed-card-text {
								.feed-card-title {
									@extend .font-20;
									@extend .bold;

									display: block;
									line-height: 24px;
									margin-bottom: 4px;
								}

								.feed-card-meta {
									@extend .font-14;
									display: block;
								}
							}
						}
					}

					&.feed-card-add-rating .feed-card-aspect-ratio .feed-card-content {
						@extend .color-white-50;

						i {
							left: 8px;
							position: absolute;
							top: 8px;
						}

						.feed-card-text {
							.feed-card-title {
								@extend .font-20;
								@extend .bold;

								display: block;
								line-height: 24px;
								margin-bottom: 4px;
							}
						}
					}
				}

				.feed-breaker {
					background: $blackLight-100;
					border-bottom: 1px solid $white-10;
					border-top: 1px solid $white-10;
					margin-bottom: 24px;

					.title {
						@extend .bold;
						@extend .color-yellow-100;
						@extend .font-24;
						
						display: block;
						margin: 24px 24px 16px;
					}

					.para {
						display: block;
						margin: 0 24px 24px;
					}

					.feed-breaker-cards {
						display: flex;
						flex-direction: row;
						flex-wrap: wrap;
						margin-bottom: 16px;

						a {
							display: none;
						}
					}
				}
			}
		}

		.page-title {
			@extend .bold;
			@extend .font-32;

			display: block;
			margin: 44px 16px 16px;
		}

		.page-para {
			margin: 0 16px 32px;
		}
	}

	.back-nav {
		background: $blackDark-100;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 100;

		a {
			display: block;
			height: 48px;
			padding: 12px;
			width: 48px;
		}
	}
}

#bottom-nav {
	background: linear-gradient( $blackDark-00, $blackDark-75, $blackDark-75);
	bottom: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	left: 0;
	padding: 16px 0;
	position: fixed;
	right: 0;

	ul {
		@include border-radius(28px); 

		align-items: center;
		background: $white-100;
		display: flex;
		flex-direction: row;
		padding: 8px 24px;

		.btn {
			padding: 8px;
			margin-right: 24px;

			&:last-child {
				margin-right: 0;
			}
		}

		.add-rating {
			@include border-radius(50%);
			background: $yellow-100;
		}
	}
}

// iphonex+

.device-ios {
	@media only screen 
	and (min-device-width: 375px) 
	and (min-device-height: 812px) 
	and (-webkit-min-device-pixel-ratio: 3)
	and (orientation: portrait) {
		#home {
			padding: 20px 0 98px;
		}

		#bottom-nav{
			padding: 16px 0 34px;
		}
	}
}
















